# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store

#img
*.img
*.jpg
*.png

#videos
#log
.log

#Docs
*deneme.js
*deneme.html
*main.js
*deneme2.js
*deneme2.html
*.txt
*js.js
